section.bodyContainer {
  min-height: calc(100vh - 10em);
}

.sidebarlayout {
  min-height: 100%;
  background-color: #ededed;
}

.sidebarfooter {
  width: 100%;
  min-height: 5em;
}

.sidebarheader {
  width: 100%;
  min-height: 5em;
}
