<div class="container">
  <p-card header="{{ Title }}">
    <p-toolbar>
      <div class="p-toolbar-group-start">
        <p-button (onClick)="SaveUpdateClick()">{{
          !parcelId ? "Create" : "Update"
        }}</p-button>
      </div>
      <div class="p-toolbar-group-end">
        <p-button
          icon="pi pi-times"
          styleClass="p-button-danger"
          (onClick)="CancelClick()"
        ></p-button>
      </div>
    </p-toolbar>
    <br />
    <form [formGroup]="createFormGroup">
      <div class="field grid">
        <label for="Unit Number" class="col-12 mb-2 md:col-2 md:mb-0"
          ><span *ngIf="!isUpdate" class="text-red-400">*</span>Unit Number:
        </label>
        <div class="col-12 mb-2 md:col-2 md:mb-0" style="width: 63%">
          <input
            id="Unit Number"
            type="text"
            placeholder="Please insert Unit Number"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            formControlName="UnitNumber"
          />
        </div>
      </div>
      <div class="field grid">
        <label for="Purchaser" class="col-12 mb-2 md:col-2 md:mb-0"
          ><span *ngIf="!isUpdate" class="text-red-400">*</span>Purchaser:
        </label>
        <div class="col-12 mb-2 md:col-2 md:mb-0" style="width: 63%">
          <input
            id="Purchaser"
            type="text"
            placeholder="Please insert Purchaser"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            formControlName="PurchaserName"
          />
        </div>
      </div>
      <div class="field grid">
        <label for="Email" class="col-12 mb-2 md:col-2 md:mb-0"
          ><span *ngIf="!isUpdate" class="text-red-400">*</span>Email:
        </label>
        <div class="col-12 mb-2 md:col-2 md:mb-0" style="width: 63%">
          <input
            id="Email"
            type="text"
            placeholder="Please Enter Email"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            formControlName="Email"
          />
        </div>
      </div>
      <div class="field grid">
        <label for="Contact No" class="col-12 mb-2 md:col-2 md:mb-0"
          ><span *ngIf="!isUpdate" class="text-red-400">*</span>Contact No:
        </label>
        <div class="col-12 mb-2 md:col-2 md:mb-0" style="width: 63%">
          <input
            id="Contact No"
            type="text"
            placeholder="Please Enter Contact No"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            formControlName="ContactNumber"
          />
        </div>
      </div>
    </form>
  </p-card>
</div>
