<!--
    <div class="flex align-items-center justify-content-center gap-2">
      <p-button
        *ngIf="!editing"
        pRipple
        pInitEditableRow
        icon="pi pi-pencil"
        (click)="onRowEditInit(iotModel)"
        styleClass="p-button-sm p-button-text p-button-rounded p-button-outlined p-0 "
      ></p-button>

      <p-button
        *ngIf="!editing"
        pRipple
        icon="pi pi-trash"
        (click)="Delete($event, iotModel)"
        styleClass="p-button-sm p-button-text p-button-rounded p-button-outlined p-0 p-button-danger"
      ></p-button>

      <p-button
        *ngIf="editing"
        pRipple
        pSaveEditableRow
        icon="pi pi-check"
        (click)="onRowEditSave(ri, iotModel)"
        styleClass="p-button-sm p-button-text p-button-rounded p-button-outlined p-0 p-button-success"
      ></p-button>

      <p-button
        *ngIf="editing"
        pRipple
        pCancelEditableRow
        icon="pi pi-times"
        (click)="onRowEditCancel(iotModel, ri)"
        styleClass="p-button-sm p-button-text p-button-rounded p-button-outlined p-0 p-button-danger"
      ></p-button>
    </div>
  -->
