<div class="container">
  <p-card header="{{Title}}">
    <!-- <div class="">
      <h1>{{ !iotId ? "Create IOT Setup" : "Update IOT Setup" }}</h1>
    </div> -->

    <p-toolbar>
      <div class="p-toolbar-group-start">
        <p-button (onClick)="SaveUpdateClick()">Save</p-button>

      </div>
      <div class="p-toolbar-group-end">
        <p-button icon="pi pi-times" styleClass="p-button-danger" (onClick)="CancelClick()"></p-button>
      </div>
    </p-toolbar>
    <br>
    <form [formGroup]="impianFormGroup">
      <div class="field grid">
        <label for="ParcelNumberId" class="col-12 mb-2 md:col-2 md:mb-0"><span class="text-red-400">*</span>Parcel No:
        </label>
        <div class="col-12 md:col-10">
          <p-dropdown placeholder="Please select Parcel Number" [style]="{ width: '75%' }"
            [options]="(ParcelNoSource$ | async) || []" formControlName="ParcelNumberId" [filter]="true"
            filterBy="label" [showClear]="true"></p-dropdown>
        </div>
      </div>
      <div class="formgroup-inline">
        <div class="field-checkbox col">
          <p-checkbox [binary]="true" inputId="binary" formControlName="SmartDoorLock">
          </p-checkbox>
          <label for="SmartDoorLock">Smart Door Lock</label>
        </div>
        <div class="field-checkbox col">
          <p-checkbox [binary]="true" inputId="binary" id="SmartDoorbell" formControlName="SmartDoorbell">
          </p-checkbox>
          <label for="SmartDoorbell">Smart Doorbell</label>
        </div>
      </div>
      <div class="formgroup-inline">
        <div class="field-checkbox col">
          <p-checkbox [binary]="true" inputId="binary" formControlName="SmartCurtain">
          </p-checkbox>
          <label for="SmartCurtain">Smart Curtain</label>
        </div>
        <div class="field-checkbox col">
          <p-checkbox [binary]="true" inputId="binary" formControlName="SmartSwitches">
          </p-checkbox>
          <label for="SmartSwitches">Smart Switches</label>
        </div>
      </div>
      <div class="formgroup-inline">
        <div class="field-checkbox col">
          <p-checkbox [binary]="true" inputId="binary" formControlName="RGBLightStrip"></p-checkbox>
          <label for="RGBLightStrip">RGB LightStrip</label>
        </div>
        <div class="field-checkbox col">
          <p-checkbox [binary]="true" inputId="binary" formControlName="SmartTv">
          </p-checkbox>
          <label for="SmartTv">SmartTv</label>
        </div>
      </div>
      <div class="formgroup-inline">
        <div class="field-checkbox col">
          <p-checkbox [binary]="true" inputId="binary" formControlName="Gateway">
          </p-checkbox>
          <label for="Gateway">Gateway</label>
        </div>
        <div class="field-checkbox col">
          <p-checkbox [binary]="true" inputId="binary" formControlName="IRBlaster">
          </p-checkbox>
          <label for="IRBlaster">IRBlaster </label>
        </div>
      </div>
      <div class="field grid">
        <label for="IRBlasterSerial" class="col-12 mb-2 md:col-2 md:mb-0"><span class="text-red-400">*</span>IRBlaster
          Serial:
        </label>
        <div class="col-12 mb-2 md:col-2 md:mb-0" style="width: 63%">
          <input id="IRBlasterSerial" type="text" placeholder="Please insert Serial Number"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            formControlName="IRBlasterSerial" />
        </div>
      </div>
      <div class="field-checkbox">
        <p-checkbox [binary]="true" inputId="binary" formControlName="SmartSpeaker">
        </p-checkbox>
        <label for="SmartSpeaker">Smart Speaker</label>
      </div>
      <div class="field grid">
        <label for="SmartSpeakerSerial" class="col-12 mb-2 md:col-2 md:mb-0"><span class="text-red-400">*</span>Smart
          Speaker Serial:
        </label>
        <div class="col-12 mb-2 md:col-2 md:mb-0" style="width: 63%">
          <input id="SmartSpeakerSerial" type="text" placeholder="Please insert Serial Number"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            formControlName="SmartSpeakerSerial" />
        </div>
      </div>
      <div class="field-checkbox">
        <p-checkbox [binary]="true" inputId="binary" formControlName="Handbook"></p-checkbox>
        <label for="Handbook">Handbook</label>
      </div>
      <div class="field grid">
        <label for="Remark" class="col-12 mb-2 md:col-2 md:mb-0">Remark:
        </label>
        <div class="col-12 mb-2 md:col-2 md:mb-0" style="width: 63%">
          <input id="Remark" type="text" placeholder="Please Remark"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            formControlName="Remark" />
        </div>
      </div>
      <div class="field grid">
        <label for="Signature" class="col-12 mb-2 md:col-2 md:mb-0" *ngIf="!isUpdate"><span
            class="text-red-400">*</span>Signature:
        </label>
      </div>
      <app-signature *ngIf="!isUpdate" #appSign></app-signature>
    </form>
    <!-- <div class="card flex flex-wrap gap-3 justify-content-center">
      <p-button label="Cancel" [rounded]="true" [style]="{ 'background-color': '#FFF', color: 'black' }"
        (onClick)="CancelClick()"></p-button>
      <p-button [rounded]="true" (onClick)="SaveUpdateClick()">{{
        !iotId ? "Create" : "Update"
        }}</p-button>
    </div> -->
  </p-card>
</div>