<p-card>
  <div class="flex justify-content-between flex-wrap align-items-center my-1">
    <div class="font-bold text-4xl text-black border-round m-2">
      {{ Title }}
    </div>
    <div
      class="flex flex-row flex-wrap gap-2 align-items-center sm:flex-nowrap"
    >
      <app-searchbox
        [AutoCompleteSource$]="AutoCompleteSource$"
        PlaceHolder="Search"
        (onSearch)="Search($event)"
        (onClearClick)="ClearSearch()"
      >
      </app-searchbox>
      <p-button
        icon="pi pi-plus"
        label="Import"
        [rounded]="true"
        (click)="ShowModal()"
      >
      </p-button>
    </div>
  </div>

  <p-table
    #basicTable
    dataKey="Id"
    editMode="row"
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-datatable-striped p-datatable-gridlines"
    [value]="PagingSignal().Content"
    [totalRecords]="PagingSignal().TotalElements || 0"
    [rows]="PageSize"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 20, 30, 50]"
    [showCurrentPageReport]="true"
    [currentPageReportTemplate]="'{currentPage} of {totalPages}'"
    [lazy]="true"
    [sortMode]="'multiple'"
    (onLazyLoad)="NextPage($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th scope="row" pSortableColumn="Name" style="width: 20%">
          <div class="flex justify-content-between align-items-center">
            Display Name
            <p-columnFilter
              [showOperator]="false"
              [showAddButton]="false"
              [matchModeOptions]="MatchModeOptions"
              type="text"
              field="Name"
              display="menu"
              class="ml-auto"
            ></p-columnFilter
            ><p-sortIcon field="Name"></p-sortIcon>
          </div>
        </th>
        <th scope="row" pSortableColumn="Username" style="width: 20%">
          <div class="flex justify-content-between align-items-center">
            Username
            <p-columnFilter
              [showOperator]="false"
              [showAddButton]="false"
              [matchModeOptions]="MatchModeOptions"
              type="text"
              field="Username"
              display="menu"
              class="ml-auto"
            ></p-columnFilter
            ><p-sortIcon field="Username"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="PhoneNumber" style="width: 10%">
          Phone <p-sortIcon field="PhoneNumber"></p-sortIcon>
        </th>
        <th pSortableColumn="Email" style="width: 20%">
          Email <p-sortIcon field="Email"></p-sortIcon>
        </th>
        <th style="width: 20%">Address</th>
        <th style="width: 5%">Disable</th>
        <th style="width: 5%">Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-iotModel>
      <tr>
        <td>{{ iotModel.Name }}</td>
        <td>{{ iotModel.Username }}</td>
        <td>{{ iotModel.PhoneNumber }}</td>
        <td>{{ iotModel.Email }}</td>
        <td>{{ iotModel.Address }}</td>
        <td>
          <p-inputSwitch
            [(ngModel)]="iotModel.IsDisable"
            (ngModelChange)="EnableDisableUser($event, iotModel.Id)"
          ></p-inputSwitch>
        </td>
        <td>
          <div class="flex align-items-center justify-content-center gap-2">
            <a a (click)="EditClick(iotModel.Id)">Edit</a>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-dialog
  [(visible)]="isVisible"
  [draggable]="false"
  [resizable]="false"
  header="Import User"
>
  <div class="flex flex-column">
    <label><span class="text-red-400">*</span>User</label>
    <p-dropdown
      appendTo="body"
      placeholder="Select user"
      [options]="(userSelection$ | async) || []"
      [(ngModel)]="userSelected"
      (onClick)="LoadData()"
    ></p-dropdown>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-row justify-content-end">
      <div class="cancel">
        <p-button
          (click)="CloseModal()"
          label="Cancel"
          styleClass="p-button-text"
        ></p-button>
      </div>
      <div class="ok">
        <p-button
          (click)="ImportUser()"
          label="OK"
          styleClass="p-button-text"
        ></p-button>
      </div>
    </div>
  </ng-template>
</p-dialog>
