<div>
  <h1>&nbsp;Home&nbsp;</h1>
  <div class="grid justify-content-center">
    <div class="col-12 md:col-6 lg:col-3">
      <p-card header="IOT View" [routerLink]="'/iot/view'" class="font-bold">
        <img [style]="{ cursor: 'pointer' }" src="assets/mdo.svg" width="50" />
      </p-card>
    </div>
  </div>
</div>

<div *FxtRoleGuard="['DKMY.Impian.Admin']">
  <h1>&nbsp;Settings&nbsp;</h1>
  <div class="grid justify-content-center">
    <div class="col-12 md:col-6 lg:col-3">
      <p-card header="Parcel" class="font-bold" [routerLink]="'/settings/parcel/view'">
        <img [style]="{ cursor: 'pointer' }" src="assets/npdgroup.svg" width="50" />
      </p-card>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <p-card header="Notification User" class="font-bold" [routerLink]="'/settings/notification-user'">
        <img [style]="{ cursor: 'pointer' }" src="assets/notif-status.svg" width="50" />
      </p-card>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
      <p-card header="Manage User" class="font-bold" [routerLink]="'/settings/user-manager/view'">
        <img [style]="{ cursor: 'pointer' }" src="assets/profile.svg" width="50" />
      </p-card>
    </div>
  </div>
</div>
