<p-card header="Service Transactions">
  <div class="flex justify-content-end flex-wrap gap-4 mb-2">
    <app-searchbox
      [AutoCompleteSource$]="AutoCompleteSource$"
      PlaceHolder="Search"
      (onSearch)="Search($event)"
      (onClearClick)="ClearSearch()"
    >
    </app-searchbox>
    <p-button
      icon="pi pi-plus"
      label="Add"
      [rounded]="true"
      (onClick)="AddClick()"
    >
    </p-button>
  </div>

  <p-table
    #fTable
    dataKey="Id"
    [reorderableColumns]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    styleClass="p-datatable-sm p-datatable-gridlines"
    [value]="PagingSignal().Content"
    [totalRecords]="PagingSignal().TotalElements"
    [rows]="PageSize"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 20, 30, 50]"
    [showCurrentPageReport]="true"
    [currentPageReportTemplate]="'{currentPage} of {totalPages}'"
    [sortMode]="'multiple'"
    [globalFilterFields]="['ServiceNumber', 'ParcelNumber.UnitNumber']"
    [filterDelay]="0"
    [lazy]="true"
    (onLazyLoad)="NextPage($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5%; border-top-left-radius: 0.5rem"></th>
        <th scope="row" pSortableColumn="ServiceNumber" style="width: 20%">
          <div class="flex justify-content-between align-items-center">
            ServiceNo
            <p-columnFilter
              [showOperator]="false"
              [showAddButton]="false"
              [matchModeOptions]="MatchModeOptions"
              type="text"
              field="ServiceNumber"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
            <p-sortIcon field="ServiceNumber"></p-sortIcon>
          </div>
        </th>
        <th
          scope="row"
          pSortableColumn="ParcelNumber.UnitNumber"
          style="width: 20%"
        >
          <div class="flex justify-content-between align-items-center">
            ParcelNo
            <p-columnFilter
              [showOperator]="false"
              [showAddButton]="false"
              [matchModeOptions]="MatchModeOptions"
              type="text"
              field="ParcelNumber.UnitNumber"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
            <p-sortIcon field="ParcelNumber.UnitNumber"></p-sortIcon>
          </div>
        </th>
        <th
          scope="row"
          pSortableColumn="ParcelNumber.PurchaserName"
          style="width: 30%"
        >
          <div class="flex justify-content-between align-items-center">
            Name
            <p-columnFilter
              [showOperator]="false"
              [showAddButton]="false"
              [matchModeOptions]="MatchModeOptions"
              type="text"
              field="ParcelNumber.PurchaserName"
              display="menu"
              class="ml-auto"
            ></p-columnFilter>
            <p-sortIcon field="ParcelNumber.PurchaserName"></p-sortIcon>
          </div>
        </th>
        <th scope="row" style="width: 15%">
          <div class="flex justify-content-between align-items-center">
            Date
          </div>
        </th>
        <th scope="row" style="width: 10%; border-top-right-radius: 0.5rem">
          <div class="flex justify-content-between align-items-center">
            Action
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-iotModel
      let-expanded="expanded"
      let-ri="rowIndex"
    >
      <tr>
        <td>
          <button
            type="button"
            pButton
            [pRowToggler]="iotModel"
            style="background-color: #1174c0; font-size: 14px"
            class=""
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          ></button>
        </td>
        <td>
          <a (click)="GotoDetails(iotModel.Id)">{{ iotModel.ServiceNumber }}</a>
        </td>
        <td>{{ iotModel.ParcelNumber?.UnitNumber }}</td>
        <td>{{ iotModel.ParcelNumber?.PurchaserName }}</td>
        <td>{{ iotModel.Date | date : "dd/MM/yyyy" }}</td>
        <td>
          <div class="flex justify-content-start flex-wrap">
            <a (click)="EditClick(iotModel.Id)">Edit</a>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-data>
      <tr>
        <td colspan="6">
          <div class="p-1">
            <h5>More Info</h5>
            <div class="grid">
              <div class="col-6 md:col-3 lg:col-3">
                <label>Smart Door Lock: </label>
                {{ data?.SmartDoorLock | trueFalsePipe }}
              </div>
              <div class="col-6 md:col-3 lg:col-3">
                <label>Smart Door Bell: </label>
                {{ data?.SmartDoorbell | trueFalsePipe }}
              </div>
              <div class="col-6 md:col-3 lg:col-3">
                <label>Smart Curtain: </label>
                {{ data?.SmartCurtain | trueFalsePipe }}
              </div>
              <div class="col-6 md:col-3 lg:col-3">
                <label>Smart Switches: </label>
                {{ data?.SmartSwitches | trueFalsePipe }}
              </div>
              <div class="col-6 md:col-3 lg:col-3">
                <label>Gateway: </label>
                {{ data?.Gateway | trueFalsePipe }}
              </div>
              <div class="col-6 md:col-3 lg:col-3">
                <label>IRBlaster: </label>
                {{ data?.IRBlaster | trueFalsePipe }}
              </div>
              <div class="col-6 md:col-3 lg:col-3">
                <label>IRBlaster Serial: </label>
                {{ data?.IRBlasterSerial }}
              </div>
              <div class="col-6 md:col-3 lg:col-3">
                <label>RGB LightStrip: </label>
                {{ data?.RGBLightStrip | trueFalsePipe }}
              </div>
              <div class="col-6 md:col-3 lg:col-3">
                <label>Smart Speaker: </label>
                {{ data?.SmartSpeaker | trueFalsePipe }}
              </div>
              <div class="col-6 md:col-3 lg:col-3">
                <label>Smart Speaker Serial: </label>
                {{ data?.SmartSpeakerSerial }}
              </div>
              <div class="col-6 md:col-3 lg:col-3">
                <label>SmartTv: </label>
                {{ data?.SmartTv | trueFalsePipe }}
              </div>
              <div class="col-6 md:col-3 lg:col-3">
                <label>Handbook: </label>
                {{ data?.Handbook | trueFalsePipe }}
              </div>
              <div class="col-6 md:col-3 lg:col-3">
                <label>Remark: </label>
                {{ data.Remark }}
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
