/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/primeng.css';
@import "..//node_modules/primeflex/primeflex.css";

@primary-color-1: #8d99ae;
@primary-color-2: #2b2d42;
@primary-color-3: #1890ff;
@primary-color-4: #ededed;

@primary--color: #000;

//text
.text-color {
  color: @primary--color;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.bold {
  font-weight: 600;
}

.error-msg {
  margin: 8px 1em;
  color: @primary-color-3;
  white-space: nowrap;
}

//padding
.padding-all {
  padding: var(--padding-all, 1em);
}

.padding-x {
  padding: var(--padding-x, 0 1em);
}

.padding-y {
  padding: var(--padding-y, 1em 0);
}

.padding-top {
  padding-top: var(--padding-top, 1em);
}

.padding-bottom {
  padding-bottom: var(--padding-bottom, 1em);
}

.padding-left {
  padding-left: var(--padding-left, 1em);
}

.padding-right {
  padding-right: var(--padding-right, 1em);
}

//margin
@margin-top: 1em;

.empty-margin {
  margin: 0;
}

.margin-all {
  margin: var(--margin-all, 1em);
}

.margin-y {
  margin: var(--margin-y, 1em 0);
}

.margin-x {
  margin: var(--margin-x, 0 1em);
}

.margin-top {
  margin-top: 1em;
}

.margin-bottom {
  margin-bottom: var(--margin-bottom, 1em);
}

.margin-left {
  margin-left: 1em;
}

.margin-right {
  margin-right: 1em;
}
